USE [master]
GO
/****** Object:  Database [DWTailspinToys]    Script Date: 9/8/2025 10:07:11 PM ******/
CREATE DATABASE [DWTailspinToys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWTailspinToys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DWTailspinToys.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWTailspinToys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DWTailspinToys_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWTailspinToys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DWTailspinToys]
GO
/****** Object:  Table [dbo].[dimCliente]    Script Date: 9/8/2025 10:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimCliente](
	[clienteKey] [int] IDENTITY(1,1) NOT NULL,
	[clienteID] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[apellido] [nvarchar](200) NOT NULL,
	[ciudad] [nvarchar](100) NULL,
	[estado] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NULL,
	[correo] [nvarchar](200) NULL,
	[telefono] [nvarchar](50) NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NULL,
	[es_actual] [bit] NOT NULL,
	[version] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clienteKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimEmpleado]    Script Date: 9/8/2025 10:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimEmpleado](
	[empleadoKey] [int] IDENTITY(1,1) NOT NULL,
	[empleadoID] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[apellido] [nvarchar](200) NOT NULL,
	[cargo] [nvarchar](100) NULL,
	[departamento] [nvarchar](100) NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NULL,
	[es_actual] [bit] NOT NULL,
	[version] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[empleadoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimJunk]    Script Date: 9/8/2025 10:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimJunk](
	[junk_Key] [int] IDENTITY(1,1) NOT NULL,
	[metodo_pago] [nvarchar](50) NULL,
	[es_regalo] [bit] NULL,
	[canal_venta] [nvarchar](50) NULL,
	[prioridad_entrega] [nvarchar](50) NULL,
	[otro_atributo] [nvarchar](100) NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NULL,
	[es_actual] [bit] NOT NULL,
	[version] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[junk_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimProducto]    Script Date: 9/8/2025 10:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimProducto](
	[productoKey] [int] IDENTITY(1,1) NOT NULL,
	[productoID] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[categoria] [nvarchar](100) NULL,
	[marca] [nvarchar](100) NULL,
	[precio_recomendado] [decimal](18, 4) NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NULL,
	[es_actual] [bit] NOT NULL,
	[version] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimPromocion]    Script Date: 9/8/2025 10:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimPromocion](
	[promocionKey] [int] IDENTITY(1,1) NOT NULL,
	[promocionID] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[tipo] [nvarchar](100) NULL,
	[descripcion] [nvarchar](500) NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NULL,
	[es_actual] [bit] NOT NULL,
	[version] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promocionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimTiempo]    Script Date: 9/8/2025 10:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimTiempo](
	[fechaKey] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[anio] [int] NOT NULL,
	[mes] [int] NOT NULL,
	[dia] [int] NOT NULL,
	[nombre_mes] [nvarchar](20) NOT NULL,
	[dia_semana] [nvarchar](20) NOT NULL,
	[trimestre] [tinyint] NOT NULL,
	[es_fin_de_semana] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fechaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimTienda]    Script Date: 9/8/2025 10:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimTienda](
	[tiendaKey] [int] IDENTITY(1,1) NOT NULL,
	[tiendaID] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[ciudad] [nvarchar](100) NULL,
	[estado] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NULL,
	[es_actual] [bit] NOT NULL,
	[version] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tiendaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facVentas]    Script Date: 9/8/2025 10:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facVentas](
	[fac_ventaID] [bigint] IDENTITY(1,1) NOT NULL,
	[fechaKey] [int] NOT NULL,
	[productoKey] [int] NOT NULL,
	[clienteKey] [int] NOT NULL,
	[empleadoKey] [int] NOT NULL,
	[tiendaKey] [int] NOT NULL,
	[promocionKey] [int] NULL,
	[junk_Key] [int] NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](18, 4) NOT NULL,
	[descuento] [decimal](18, 4) NULL,
	[total_linea] [decimal](18, 4) NOT NULL,
	[costo_unitario] [decimal](18, 4) NULL,
	[margen]  AS ([total_linea]-[cantidad]*[costo_unitario]) PERSISTED,
	[fecha_carga] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fac_ventaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dimTiempo] ([fechaKey], [fecha], [anio], [mes], [dia], [nombre_mes], [dia_semana], [trimestre], [es_fin_de_semana]) VALUES (20160101, CAST(N'2016-01-01' AS Date), 2016, 1, 1, N'January', N'Friday', 1, 0)
INSERT [dbo].[dimTiempo] ([fechaKey], [fecha], [anio], [mes], [dia], [nombre_mes], [dia_semana], [trimestre], [es_fin_de_semana]) VALUES (20160102, CAST(N'2016-01-02' AS Date), 2016, 1, 2, N'January', N'Saturday', 1, 1)
INSERT [dbo].[dimTiempo] ([fechaKey], [fecha], [anio], [mes], [dia], [nombre_mes], [dia_semana], [trimestre], [es_fin_de_semana]) VALUES (20160103, CAST(N'2016-01-03' AS Date), 2016, 1, 3, N'January', N'Sunday', 1, 1)
GO
/****** Object:  Index [IX_facVentas_cliente]    Script Date: 9/8/2025 10:07:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_facVentas_cliente] ON [dbo].[facVentas]
(
	[clienteKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_facVentas_empleado]    Script Date: 9/8/2025 10:07:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_facVentas_empleado] ON [dbo].[facVentas]
(
	[empleadoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_facVentas_fecha]    Script Date: 9/8/2025 10:07:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_facVentas_fecha] ON [dbo].[facVentas]
(
	[fechaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_facVentas_producto]    Script Date: 9/8/2025 10:07:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_facVentas_producto] ON [dbo].[facVentas]
(
	[productoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[facVentas] ADD  DEFAULT (sysutcdatetime()) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[facVentas]  WITH CHECK ADD  CONSTRAINT [fk_cliente] FOREIGN KEY([clienteKey])
REFERENCES [dbo].[dimCliente] ([clienteKey])
GO
ALTER TABLE [dbo].[facVentas] CHECK CONSTRAINT [fk_cliente]
GO
ALTER TABLE [dbo].[facVentas]  WITH CHECK ADD  CONSTRAINT [fk_empleado] FOREIGN KEY([empleadoKey])
REFERENCES [dbo].[dimEmpleado] ([empleadoKey])
GO
ALTER TABLE [dbo].[facVentas] CHECK CONSTRAINT [fk_empleado]
GO
ALTER TABLE [dbo].[facVentas]  WITH CHECK ADD  CONSTRAINT [fk_fecha] FOREIGN KEY([fechaKey])
REFERENCES [dbo].[dimTiempo] ([fechaKey])
GO
ALTER TABLE [dbo].[facVentas] CHECK CONSTRAINT [fk_fecha]
GO
ALTER TABLE [dbo].[facVentas]  WITH CHECK ADD  CONSTRAINT [fk_junk] FOREIGN KEY([junk_Key])
REFERENCES [dbo].[dimJunk] ([junk_Key])
GO
ALTER TABLE [dbo].[facVentas] CHECK CONSTRAINT [fk_junk]
GO
ALTER TABLE [dbo].[facVentas]  WITH CHECK ADD  CONSTRAINT [fk_producto] FOREIGN KEY([productoKey])
REFERENCES [dbo].[dimProducto] ([productoKey])
GO
ALTER TABLE [dbo].[facVentas] CHECK CONSTRAINT [fk_producto]
GO
ALTER TABLE [dbo].[facVentas]  WITH CHECK ADD  CONSTRAINT [fk_promocion] FOREIGN KEY([promocionKey])
REFERENCES [dbo].[dimPromocion] ([promocionKey])
GO
ALTER TABLE [dbo].[facVentas] CHECK CONSTRAINT [fk_promocion]
GO
ALTER TABLE [dbo].[facVentas]  WITH CHECK ADD  CONSTRAINT [fk_tienda] FOREIGN KEY([tiendaKey])
REFERENCES [dbo].[dimTienda] ([tiendaKey])
GO
ALTER TABLE [dbo].[facVentas] CHECK CONSTRAINT [fk_tienda]
GO
USE [master]
GO
